@import url('styles/cabecalho.css');
@import url('styles/global.css');
@import url('styles/hero.css');
@import url('styles/sobre.css');
@import url('styles/historia.css');
@import url('styles/carrossel_hero.css');
@import url('styles/servico.css');
@import url('styles/diferenciais.css');
@import url('styles/projetos.css');
@import url('styles/formulario.css');
@import url('styles/equipe.css');
@import url('styles/faixa_clientes.css');
@import url('styles/localizacao.css');
@import url('styles/rodape.css');
@import url('styles/modal.css');