.footer {
    background: #ff7a00;
    /* Laranja forte */
    color: #fff;
    padding: 70px 20px 20px;
    font-family: 'Poppins', sans-serif;
    margin-top: 80px;
}

.footer-container {
    max-width: 1300px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 40px;
}

.footer-col h3,
.footer-col h4 {
    margin-bottom: 15px;
    font-weight: 700;
}

.footer-col img{
    width: 250px;
}

.footer-col p {
    opacity: .85;
    line-height: 1.6;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin: 8px 0;
}

.footer-col ul li a {
    color: #fff;
    text-decoration: none;
    opacity: 0.85;
    transition: .3s;
}

.footer-col ul li a:hover {
    opacity: 1;
    padding-left: 5px;
}

.footer-socials {
    display: flex;
    gap: 15px;
}

.footer-socials a {
    font-size: 22px;
    color: #fff;
    opacity: .85;
    transition: .3s;
}

.footer-socials a:hover {
    opacity: 1;
    transform: scale(1.15);
}

.footer-copy {
    text-align: center;
    margin-top: 40px;
    padding-top: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    opacity: .9;
}